.d-flex {
    display: flex;
}

.d-row {
    display: flex;
    flex-direction: row;
}

.d-col {
    display: flex;
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-self-start {
    justify-self: flex-start;
}

.align-content-center {
    align-content: center;
}

.align-items-center {
    align-items: center;
}

.align-self-start {
    align-self: flex-start;
}

.ml-1 {
    margin-left: 8px;
}

.ml-2 {
    margin-left: 16px;
}

.mr-1 {
    margin-right: 8px;
}

.mr-2 {
    margin-right: 16px;
}

.mb-1 {
    margin-bottom: 8px;
}

.mb-2 {
    margin-bottom: 16px;
}

.section-inner {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}