#section4 {
  font-size: 200%;
  font-style: italic;
  height: 100%;
  width: 100%;
  overflow: hidden;

  margin: 0;
  padding: 0 0 0 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
