.subtitle {
  color: #FFD500;
}

.title:nth-child(1) { font-size: 420%; }
.title:nth-child(2) { font-size: 210%; }
.title:nth-child(3) { font-size: 140%; }
.title:nth-child(4) { font-size: 100%; }
.title:nth-child(5) { font-size:  80%; }

.title {
  word-break: keep-all;
}